<div class="flex justify-between w-full p-5" cdkDropListGroup>
  <app-tasks-container
    title="ready"
    [taskList]="ready"
    (drop)="drop($event)"
  ></app-tasks-container>

  <app-tasks-container
    title="to do"
    [taskList]="todo"
    (drop)="drop($event)"
  ></app-tasks-container>

  <app-tasks-container
    title="in progress"
    [taskList]="progress"
    (drop)="drop($event)"
  ></app-tasks-container>

  <app-tasks-container
    title="done"
    [taskList]="done"
    (drop)="drop($event)"
  ></app-tasks-container>
</div>
